# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/vuejs
# Edit at https://www.gitignore.io/?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
config/
dist/
prod/
npm-debug.log
yarn-error.log
webpack.config.js
package-lock.json

# End of https://www.gitignore.io/api/vuejs

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

